
{% extends 'layout.html.twig' %}
{% block content_header %}scoreboard{% endblock %}
{% block content_body %}
<div class="table">
	<div class="row form-group">
		<div class="col-1">
			<label class="col-form-label">Liga</label>
		</div>
		<div class="col">
			<select class="form-control scoreboard_leagueSelector">
				{% for _league in leagues.findAll %}
					<option value="{{_league.id}}"{% if league.id==_league.id%} selected{%endif%}>{{_league.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="w-100"></div>
	</div>
</div>
			<table class="table">
			  <thead>
				<tr>
				  <th scope="col" class="text-center">#</th>
				  <th scope="col">Mannschaft</th>
				  <th scope="col" class="text-center">Spiele</th>
				  <th scope="col" class="text-center">Siege</th>
				  <th scope="col" class="text-center">Unentschieden</th>
				  <th scope="col" class="text-center">Niederlagen</th>
				  <th scope="col" class="text-center">Tore</th>
				  <th scope="col" class="text-center">Gegentore</th>
				  <th scope="col" class="text-center">Punkte</th>
				</tr>
			  </thead>
			  <tbody>
			  {% set gameDay = null %}
				{% for team in teams %}
					{% if (gameDay is null)  or (gameDay > team.matches|length) %}
						{% set gameDay = team.matches|length %}
					{% endif %}

				<tr>
					<th scope="row" class="text-center">{{loop.index}}</th>
					<th scope="row"><a href="{{ path('edit_entity', {entity: 'team',id:team.id}) }}">{{team.name}}</a></th>
					<th scope="row" class="text-center">{{team.matches|length}}</th>
					<th scope="row" class="text-center">{{team.wins|length}}</th>
					<th scope="row" class="text-center">{{team.draws|length}}</th>
					<th scope="row" class="text-center">{{team.losses|length}}</th>
					<th scope="row" class="text-center">{{team.goals}}</th>
					<th scope="row" class="text-center">{{team.opponentGoals}}</th>
					<th scope="row" class="text-center">{{team.score}}</th>
				</tr>
				{% endfor %}
				{% if gameDay is null %}
					{% set gameDay = 0 %}
				{% endif %}
				<tr>
						<th colspan="9" class="text-right text-muted" >{{gameDay+1}}. Spieltag</th>
				</tr>
			  </tbody>
			</table>
				
{% endblock %}
{% block jquery %}
 {{ parent() }}
$('.scoreboard_leagueSelector').on('change', function() {
	if ($(this).val()=='null') {
	window.location = '{{ path('index') }}';
	} else {
	window.location = '{{ path('scoreboard',{leagueId:'_leagueId'}) }}'.replace('_leagueId',$(this).val());
	}
});
{% endblock %}