{% extends 'layout.html.twig' %}
{% block content_header %}search{% endblock %}
{% block content_body %}

<div class="accordion" id="accordionExample">
 <form name="searchForm" class=" w-100 pt-2 text-nowrap" action="{{path('search_post')}}" method="POST">
<div id="form" class="row">
<div class="col-sm-2">Results:</div>
<div class="col-sm-10">
{% if results|length==0 %}
no results
	{% endif %}
{% for key,result in results %}
  <div class="card">
    <div class="card-header  bg-secondary" id="headingOne">
        <button class="btn m-0 p-0  text-white btn-link" type="button" data-toggle="collapse" data-target="#collapse_{{key}}" aria-expanded="true" aria-controls="collapse_{{key}}">
         {{result|length}} results from {{key}}
        </button>
    </div>

    <div id="collapse_{{key}}" class="collapse" aria-labelledby="heading_{{key}}" data-parent="#accordionExample">

{% for k,entity in result %}
      <ul class="ul  border">
      <li><a href="{{path('edit_entity',{entity:key,id:entity.id})}}">{{entity}}</a></li></ul>
{% endfor %}
    </div>
  </div>
{% endfor %}    </div>
</div>
	</div>
	
	<div class="form-group row pt-2">
	<label class="col-form-label col-sm-2 required" for="form_league">Search:</label>
	<div class="col-sm-10 text-center"><input type="text" id="form_search" name="form[search]" required="required"  class="form-control "><button class="mt-2 btn btn-primary " type="submit">  Search <i class="fa  fa-search"></i></button></div>
    </div>
	</div>
    </form>
	
	
	
	

{% endblock %}