{% extends 'layout.html.twig' %}
{% block content_header %}{{entity}} administration{% endblock %}
{% block content_body %}
	{{ form(selectEntityForm) }}
{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
	<div class="form-group row">
	<div class="col text-center">
	<button class="btn btn-outline-primary  btn-lg ml-3" type="submit">save <i class="fa fa-sm fa-save"></i> </button>
	{% if id!=null %}
	
	<a class="btn btn-outline-danger btn-lg  ml-3" href="{{path('remove_entity',{entity:entity,id:id})}}" role="button" onclick="return confirm('Are you sure?');" > remove <i class="fa fa-sm fa-trash"></i></a>
	{% endif %}
	</div>
    </div>

{{ form_end(form) }}
{% endblock %}
{% block content_footer %}{% endblock %}
{% block jquery %}
	{{ parent() }}
	$('.entitySelector').on('change', function() {
		if ($(this).val()=='') {
			window.location = '{{ path('add_entity', {entity: entity}) }}';
		} else {
			window.location = '{{ path('edit_entity', {entity: entity,id:'_id'}) }}'.replace('_id',$(this).val());
		}
	});

	{% if entity== 'match' %}
		$("#form_team optgroup[label!='"+$('#form_league option:selected').text()+"']").hide();
		
		$("#form_opponent option[value='"+$('#form_team').val()+"']").hide();
		if ($('#form_team').val()!=$('#form_opponent').val()) {
			$("#form_team option[value='"+$('#form_opponent').val()+"']").hide();
		}
		
		$("#form_opponent").on('change', function() {
			$("#form_team option").show();
			$("#form_team option[value='"+$('#form_opponent').val()+"']").hide();
		});
		$("#form_team").on('change', function() {
			$("#form_opponent option").show();
			$("#form_opponent option[value='"+$('#form_team').val()+"']").hide();
		});
		$("#form_league").on('change', function() {
			$("#form_team optgroup").show();
			$("#form_opponent optgroup").show();
			$("#form_team optgroup[label!='"+$('#form_league option:selected').text()+"']").hide();
			$("#form_opponent optgroup[label!='"+$('#form_league option:selected').text()+"']").hide();
		});
	{% endif %}
{% endblock %}